.swiper-pagination-bullet {
    background-color: white;
    opacity: 0.6;
    /* Optional: For inactive bullets */
}

/* Custom pagination active bullet color */
.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}